#nav {
    width: 75px !important;
    min-height: max(100vh, 100%);
}

#nav ul {
    max-width: 100% !important;
}

#nav ul li {
    max-width: 100% !important;
}

.nav-item-text {
    font-size: 0.9em !important;
}

.sidebar-item,
.sidebar-item:visited {
    color: #cfc4c4;
    max-width: 100% !important;
}

.sidebar-item:hover {
    color: red;
}

.nav-pills .sidebar-item span {
    color: red;
}

.nav-pills .sidebar-item.active {
    background-color: #cfc4c4;
    color: red;
}

#account-icon {
    color: grey;
}

.nav-pills .sidebar-item {
    width: 100vw;
    border-radius: 0;
    padding: 5px;
}

.nav-pills .sidebar-item div span,
.nav-pills .sidebar-item div div {
    margin-block: 3px;
}

.page-content-wrapper {
    margin: 25px;
}

#assignments-page-header-icon {
    color: red;
}

.breadcrumb-item a {
    color: red;
    text-decoration: none;
}

.secondary-sidebar {
    max-width: 190px;
}

.sidebar-title {
    font-style: italic;
    color: rgb(93, 93, 93);
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.secondary-sidebar ul {
    margin: 0;
    padding-left: 0;
}

.secondary-sidebar li {
    list-style-type: none;
    padding-block: 10px;
    /* margin-block: 20px; */
}

.secondary-sidebar li a {
    text-decoration: none;
    color: red;
    font-size: 1.2em;
}

.secondary-sidebar li.selected {
    padding-left: 8px;
    margin-left: -10px;
    border-left: 2px solid black;
}

.secondary-sidebar li.selected a {
    color: black;
    font-weight: 500;
}

.secondary-sidebar li.selected a:hover {
    color: black;
}

.link-no-decoration {
    text-decoration: none;
    color: black;
}

.link-red,
.settings-nav-item,
.fa-circle-question {
    color: red;
}

.column-subtitle {
    font-size: 0.9em;
}

td {
    text-align: center;
}

.focus-red:focus {
    border-color: red;
}

.settings-nav-item:hover,
.link-red:hover,
.secondary-sidebar li a:hover {
    color: red;
}

.font-small {
    font-size: 0.8em;
}

.navigation-subitem {
    font-size: 0.9em;
}